.top-menu {
  height: 80px;
  padding: 0 0 0 64px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  background-color: #0b0f19;
  border-bottom: 1px solid #1f2435;
}

.top-menu__logo {
  justify-self: start;

  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 24px;
  font-weight: 700;
}

.top-menu__logo-icon {
  color: #a855f7;
  text-decoration: none;
  font-size: 32px;
  font-weight: 900;
}

.top-menu__nav {
  justify-self: center;
}

.top-menu__auth {
  justify-self: end;
}

.top-menu__list {
  display: flex;
  align-items: center;
  gap: 32px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.top-menu__link {
  text-decoration: none;
  color: #d4d4d8;

  font-size: 15px;
  font-weight: 500;

  transition: 0.2s;
}

.top-menu__link:hover {
  color: white;
}

.top-menu__link--active {
  color: #c084fc;
}

.top-menu__login-button {
  width: 10%;
  padding: 14px;
  margin-right: 64px;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #7c3aed, #a855f7);
  color: white;
  cursor: pointer;
}

.top-menu__login-button:hover {
  background: linear-gradient(135deg, #8141ee, #ac5df7)
}